.wrapper {
  color: var(--default-text-color);
  display: flex;
  align-items: center;
  padding: 9px 16px;
  line-height: 2.1rem;
  cursor: pointer;

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}

.ava-container {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  vertical-align: middle;
}

.info-container {
  flex: 1;
  min-width: 0px;
}

.account-name {
  line-height: 2.2rem;
  font-size: 1.6rem;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.check-icon {
  margin-left: 8px;
}

.username {
  font-size: 1.4rem;
  font-weight: 400;
  color: rgba(22, 24, 35, 0.5);
  line-height: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar {
  padding: 8px;
  border-radius: 4px;
  line-height: 2rem;

  .ava-container {
    width: 32px;
    height: 32px;
  }

  .account-name {
    font-family: SofiaPro, sans-serif;
    margin-top: -2px;
    font-weight: 700;
  }

  .check-icon {
    margin-left: 4px;
  }

  .username {
    color: rgba(22, 24, 35, 0.75);
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}
