.search {
  width: var(--search-width);
  position: relative;
  height: var(--search-height);
  background-color: rgba(22, 24, 35, 0.06);
  border-radius: var(--search-border-radius);
  padding-left: 16px;
  display: flex;
  align-items: center;

  input {
    flex: 1;
    height: 100%;
    color: rgb(22, 24, 35);
    font-size: 1.6rem;
    font-weight: 400;
    background-color: transparent;
    caret-color: var(--primary);
  }

  input:not(:placeholder-shown) ~ .search-btn {
    color: rgba(22, 24, 35, 0.75);
  }

  &::after {
    position: absolute;
    content: '';
    width: 1px;
    height: calc(var(--search-height) - var(--search-top-spacer) * 2);
    background: rgba(22, 24, 35, 0.12);
    top: var(--search-top-spacer);
    right: var(--search-button-width);
  }

  &:focus-within {
    border: 1.5px solid rgba(22, 24, 35, 0.2);
  }
}

.search-result {
  width: var(--search-width);

  max-height: min((100vh - 96px) - 60px, 734px);
  box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;

  overflow: hidden;
  ul {
    list-style-type: none;
    font-weight: 600;
    font-size: 1.4rem;
  }
}

.accounts-span {
  display: block;
  height: 30px;
  padding: 5px 12px;
  font-size: 1.4rem;
  line-height: 20px;
  font-weight: 600;
  color: rgba(22, 24, 35, 0.5);
}

.loading-btn,
.clear-btn {
  position: absolute;
  color: rgba(22, 24, 35, 0.34);
  font-size: 16px;
  right: calc(var(--search-button-width));
  width: 40px;
  top: 15px;

  cursor: pointer;
}

.search-btn {
  width: var(--search-button-width);
  height: 100%;
  border-top-right-radius: var(--search-border-radius);
  border-bottom-right-radius: var(--search-border-radius);
  padding: 11px 16px 11px 12px;
  color: rgba(22, 24, 35, 0.34);
  &:hover {
    background: rgba(22, 24, 35, 0.03);
  }

  &:active {
    background: rgba(22, 24, 35, 0.06);
  }
}
