.link-container {
  margin-bottom: 8px;
  line-height: 2.1rem;
  font-size: 1.4rem;
}

.link-item {
  color: rgba(22, 24, 35, 0.5);
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  display: inline-block;
  margin-right: 6px;
  margin-top: 5px;
  line-height: 1.7rem;

  &:hover {
    text-decoration: underline;
  }
}
