.announce {
  color: rgba(22, 24, 35, 0.5);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 0px 8px;
}

.see-button {
  background: transparent;
  border: none;
  padding: 0px 8px;
  margin-top: 8px;
  cursor: pointer;

  color: rgb(254, 44, 85);
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2rem;
}
